<h1>Welcome {{ name }}</h1>
<p>Your ceremonies: </p> 

{{#if ceremonies }}
    <table class="table1">
    <thead>
        <tr>
            <th>Delete  ----  Edit</th>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each ceremonies}}
        <tr>
            <td class="flex-row">
            <form action="/ceremonies/delete/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="material-icons">delete_forever</i>
                    </button>
            </form>
            <a href="/ceremonies/{{_id}}" class="btn teal darken-4"><i class="material-icons">edit</i></a></td>
            <td>{{name}}</td>
            <td>{{createdAt}}</td>
            <td><span class="ceremonies-status">{{status}}</span></td>
            <td></td>
        </tr>
        {{/each}}
    </table>
{{else}}
    <p>Please Create a ceremonies</p>
{{/if}}

